# Dependencies
node_modules/

# Environment files
.env

# Build folders
dist/
build/

# Logs
*.log

# Coverage
coverage/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Kubernetes temp files
*.tmp

# Docker
docker-data/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup


node_modules/
.env
*.log
.DS_Store

backend/uploads/
backend/.server.js.swp
backend/.server.js.swo
*.swp
*.swo

dist/
build/
temp/
